@charset "UTF-8";
p{
    line-height: 1.7;
}
.top-page{
    overflow-x: hidden;
}

.MB{
    display: none;
}
/* ABOUT共通フォントサイズ */
h4{
    font-size: 22px;
    font-weight: bold;
}

/* スマホ版に追加している<br>をPCサイズで非表示 */
.spBr {
    display: none;
}

/* 追従エントリーボタン */
.entry-btn{
    position: fixed;
    bottom: 4%;
    right: 8%;
    display: inline-block;
    width: 95px;
    height: 95px;
    background-color: var(--red);
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
    z-index: 1000;
}
.entry-btn img{
    width: 55px;
    vertical-align: middle;
    margin-top: 6px;
}

/* about us 学生団体「TRing」についての位置調整 */
.cont-h-outers{
    height: 100px;
    position: relative;
}
.cont-h {
    height: auto; /* style.cssから変更した設定 */
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    position: relative;
}

.cont-h img {
    width: 100%;
    margin-top: -150px;
}

.cont-h-outer.cont-h-sec-about {
    position: absolute;
    bottom: -30%;
    left: 8%;
}

.cont-h-inner-about {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

.cont-h-inner-about h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 0.8;
}

/* about タブ５つ設定 */
.content-second{
    margin-top: 0px;
    padding: 0 100px ;
}

.aboutTabLists{
    display: flex;
    padding-bottom: 2rem;
    border-bottom: solid 3.5px var(--yellow);
    justify-content: center;
    gap: 20px;
}

.aboutTab{
    display: inline-block;
    width: 15rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 15px 30px;
    border: solid 1px var(--yellow);
    border-radius: 2.5rem;
    background-color: #fff;
    margin-top: 20px;
}

.aboutTab.is-active{
    background-color: var(--yellow);
}

/* コンテンツTOPタイトル⇒日本語＋英語のふちデザイン */

.Group-profile-table{
    padding: 0 100px ;
}

.cont-top-tittles {
    position: relative;
    padding-top: 5rem;
    padding-left: 140px;
}

.cont-top-tittle{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(60%,50%);
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--gray);
    color: rgba(0,0,0,0);
    z-index: -2;
}

.cont-top-tittles-inner h3 {
    line-height: 0.8;
    font-weight: bold;
    font-size: 24px;

}

/* 基本情報　表 */
 /* 表で使用するテキストサイズ */
.basic-info-tittle{
    width: 8rem;
}

.info-p{
    font-weight: 400;
}

.small-text{
    font-size: 13px;
}
.tel-fax{
    font-size: 15px;
    display: inline-block;
    margin-top: 2rem;
}

/* フッター上のABOUTページ遷移（共通） */

.ap-page-top{
    text-align: center;
}

.about-pagelinks{
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap; 
    gap:5rem;
    justify-content: space-between;
    padding: 0px 100px 100px;
    text-align: center;
    width: 1200px;
}

.about-pagelink{
    width: 410px;
    height: 244px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 3px 6px#CECECE ;
    
}

.pagelink-text{
    position: absolute;
    height: 60px;
    right: 0;
    bottom: 0px;
    left: 0;
    margin: auto;
    padding-top:15px;
    color: #000;
    z-index: 10;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #fff;
}

@media (hover: hover) {
    .about-pagelink :hover {
        opacity:0.5;
        transition: 0.25s;
    }
    .about-pagelink img:hover{
        scale: 1.1;
    }
    .pagelink-image :hover {
        opacity: 1;
    }
    .entry-btn:hover{
        scale: 1.1;
    }
}

/* ==================================== */

@media screen and (max-width: 767px){
    .MB{
        display: block;
    }
    .PC{
        display: none;
    }
    
    /* PC版に追加していた<br>をスマホ版で削除 スマホで追加したい<br>を表示
    */
    .pcBr {
        display: none;
        
    }
    .spBr {
        display: block;
    }
    
        /* about us 学生団体「TRing」についての位置調整 */
    .cont-h-outers{
        height: 50px;
        /* position: relative; */
    }
    /* .cont-h {
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        position: relative;
    } */
    .cont-h-outer.cont-h-sec-about {
        position: absolute;
        bottom: -30%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .cont-h-bg{
        font-size: 4.6rem;
    }
    .cont-h img {
        width: 100%;
        margin-top: -8%;
    }
    
    /* .cont-h-inner-about {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        font-style: italic;
        text-align: center;
        white-space: nowrap;
    } */
    
    .cont-h-inner-about h1 {
        font-size: 1.6rem;
        margin-bottom: -5px;
        margin-top: -5px;
        /* font-weight: bold;
        line-height: 0.8; */
    }
    .cont-h-inner-about span{
        font-size: .6rem;
    }
    
    /* about タブ設定 */
    .content-second{
        padding: 0 30px;
        margin-top: 50px;
    }
    
    .aboutTabLists{
        /* display: flex; */
        flex-wrap: wrap; 
        padding-bottom: 2rem;
        /* border-bottom: solid 3.5px var(--yellow); */
        justify-content: space-between;
        gap:15px 0px ;
    }
    .aboutTabLists li{
        width: 50%;
        text-align: center;
    }
    
    .aboutTab{
        display: inline-block;
        width: 10rem;
        /* text-align: center; */
        font-size: .9rem;
        /* font-weight: 500; */
        padding: 0.6rem 0rem ;
        /* border: solid 1px var(--yellow);
        border-radius: 2.5rem;
        background-color: #fff; */
        margin-top: 0rem;

    }
    
    /* .is-active{
        background-color: var(--yellow);
    } */
    
    
    /* コンテンツTOPタイトル */
    
    .Group-profile-table{
        padding: 0px  0px;
    }
    
    .cont-top-tittles {
        position: relative;
        padding-left: 0px;

    }
    
    .cont-top-tittle{
        position: absolute;
        top: 0%;
        left: 0%;
        transform:translate(0%,75%) ;
        font-size: 40px;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        /* font-weight: bold;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: var(--gray);
        color: rgba(0,0,0,0); */
    }
    
    .cont-top-tittles-inner h3 {
        line-height: 0.8;
    } */

    /* 追従エントリーボタン */
.entry-btn{
    /* position: fixed; */
    bottom: 50%;
    right: 8%;
    /* display: inline-block; */
    width: 37px;
    height: 37px;
    /* background-color: var(--red);
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
    z-index: 1000; */
}

.entry-btn img{
    width: 50px;
    /* vertical-align: middle; */
    margin-top: 10px;
}

h4{
    font-size: 1.1rem;
}
.basic-info-tittle{
    /* font-weight: bold; */
    width: 5.5rem;
    padding-left: 0.6rem;
    font-size: 14px;
    height:max-content;
    vertical-align: bottom;
}

.info-p{
    font-weight: 400;
    font-size: 14px;
    
}

.info-p .MB{
    padding-left:1em;
	text-indent:-1em;
}

.small-text{
    font-size: 0.6rem;
}
.tel-fax{
    font-size: 0.7rem;
    /* display: inline-block;
    margin-top: 2rem; */
}

    /* ABOUTページ遷移（共通） */
.about-pagelinks{
    /* display: flex; */
    flex-flow: column;
    padding: 0px 0px 70px;
    gap:35px;
    /* text-align: center; */
    /* border-top: solid 0.5px var(--gray);
    padding: 0;
    padding-top: 80px; */
    width: 100%;
}


.about-pagelink{
    width: 310px;
    height: 185px;
    /* overflow: hidden;
    position: relative;
    border-radius: 5px; */
    margin: 0 auto;
}

.pagelink-text{
    /* position: absolute;
    bottom: 10%;
    left: 8%;
    color: #fff;
    z-index: 10; */
    /* font-weight: bold; */
    height: 50px;
    font-size: 14px;
}

}