/* グレー線 */
.cont-separate {
    border-top: 1px solid var(--gray);
    margin: 45px 100px 0;
}
.cont-end {
    margin-top: 80px;
}
/* 内容 */

.content-cen {
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 90px 70px;
    justify-content: space-between;
    padding: 0px 100px 100px;
    width: 1200px;
}
/* コンテンツTOPタイトル⇒日本語＋英語のふちデザイン */
.cont-top-tittles h4{
    margin-top: 20px;
    font-size: 20px;
}
.cont-top-tittles{
    border-bottom: solid 0.5px var(--gray);
    padding-bottom: 45px;
}
.cont-top-tittle{
    transform: translate(50% ,50%);
}

.Group-profile-table {
    padding: 0px;
}
.content-grid {
    width: 440px;
}
.content-grid img {
    width:440px;
    margin-top: 20px;
    box-shadow: 10px 11px 0px 0 #FDF1A9;
    border-radius: 5px;
}
.content-grid h2 {
    font-size: 20px;
    font-weight: bold;
}
.content-grid p {
    height: 90px;
    font-size: 1rem;
    margin-top: 20px;
}
/* ABOUTページ遷移（共通） */
.about-pagelinks{
    border-top: solid 0.5px var(--gray);
    padding-top: 80px;
    margin-top: 0;
}


/*  header タブレット　--------------
---------------------------*/
@media screen and (max-width: 1024px){
}

/* header スマホ　--------------
---------------------------*/
@media screen and (max-width: 767px){

/* 業務内容 */

.top-page{
    overflow-x: hidden;
}
.content-grid {
    width: 320px;
}
.content-grid img {
    width:320px;
    margin-top: 25px;
}
.content-grid h2 {
    font-size: 18px;
    padding: 0 10px;
}
.content-grid p {
    height: 90px;
    font-size: 14px;
    margin-top: 15px;
    padding: 0 10px;
}
.content-cen-ttl {
    margin: 20px 0 0;
}
.cont-top-tittle {
    position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 80%);
        font-size: 40px;
        white-space: nowrap;
        width: 100%;
}
.content-cen {
    flex-flow: column;
        margin: 0 auto;
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 90px 70px;
        justify-content: space-between;
        padding: 0px 100px 100px;
        width: 100%;
        align-content: center;
}
}
