.Form-Item-Input-confirm {
    margin-top: 12px;
}
.Form-Item-Input-confirm {
    margin-top: 12px;
}
.contact-confirm-other {
    margin-top: 14px;
}
.Form-Item-Textarea-confirm {
    margin-top: 14px;
}
.student-confirm {
    margin-top: 12px;
}
.apply-confirm {
    margin-top: 12px;
}